@model List<RaceStrategyApp.Models.Race>
@{
    ViewData["Title"] = "Preteky";
}
<style>
    .race-detail-table th {
        background-color: #f8f9fa;
        width: auto;
        vertical-align: middle;
        margin-inline: 4px;
    }
    table {
        border-collapse: collapse;
    }
    tr {
        border: solid;
        border-width: 1px 0;
        border-color: #999999;
    }
    tr:first-child {
    border-top: none;
    }
    tr:last-child {
      border-bottom: none;
    }
</style>

<div class="text-center mt-4">
    <div class="card-header bg-primary text-white">
        <h2>Preteky</h2>
    </div>
    
    <table class="table table-striped race-detail-table" style="table-layout: auto; width: 100%;">

        <thead>
            <tr>
                <th>Akcia</th>
                <th>Id</th>
                <th>Názov</th>
                <th>Počet kôl pretekov</th>
                <th>Aktuálne kolo</th>
                <th>Počet povinných zastávok</th>
                <th>Počet absolvovaných zastávok</th>
                <th>Tankovanie</th>
                <th>Pozícia</th>
                <th>Počet protivníkov</th>
                <th>Sady pneumatík k dispozícii</th>
                <th>Stav trate</th>
                <th>Počasie</th>
                <th>Poškodenie</th>
                <th>Totálne poškodenie</th>
            </tr>
        </thead>


        <tbody>
            @if (Model != null && Model.Any()) {
                @foreach (var race in Model) {
                    <tr>
                        <td><a asp-action="Race" asp-route-id="@race.Id" style="margin-inline: 0.5rem;">Detaily</a></td>
                        <td>@race.Id</td>
                        <td>@race.Name</td>
                        <td>@race.NumberOfLaps</td>
                        <td>@race.LapCount</td>
                        <td>@race.MandatoryStops</td>
                        <td>@race.NumberOfStops</td>
                        <td>@(race.Refueling ? "Áno" : "Nie")</td>
                        <td>@race.Position</td>
                        <td>@race.AmountOfOpponents</td>
                        <td>
                            @foreach (var tyre in race.SelectedTyres) {
                                <span class="tyre-badge">@tyre</span>
                            }
                        </td>
                        <td>@race.TrackState</td>
                        <td>@race.TrackWeather</td>
                        <td>@(race.Damage ? "Áno" : "Nie")</td>
                        <td>@(race.TerminalDamage ? "Áno" : "Nie")</td>
                    </tr>
                }
            }
            else {
                <tr>
                    <td colspan="5">No race found.</td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
