@model List<RaceStrategyApp.Models.Race>
@{
    ViewData["Title"] = "Preteky";
}


<div>
    <h1 class="display-2">Preteky</h1>

    <table class="table">

        <thead>
            <tr>
                <th>Akcia</th>
                <th>Id</th>
                <th>Názov</th>
                <th>Počet kôl pretekov</th>
                <th>Aktuálne kolo</th>
                <th>Počet povinných zastávok</th>
                <th>Počet absolvovaných zastávok</th>
                <th>Tankovanie</th>
                <th>Pozícia</th>
                <th>Počet protivníkov</th>
                <th>Sady pneumatík k dispozícii</th>
                <th>Stav trate</th>
                <th>Počasie</th>
                <th>Poškodenie</th>
                <th>Totálne poškodenie</th>
            </tr>
        </thead>


        <tbody>
            @if (Model != null && Model.Any()) {
                @foreach (var race in Model) {
                    <tr>
                        <td><a asp-action="Race" asp-route-id="@race.Id">Detaily</a></td>
                        <td>@race.Id</td>
                        <td>@race.Name</td>
                        <td>@race.NumberOfLaps</td>
                        <td>@race.LapCount</td>
                        <td>@race.MandatoryStops</td>
                        <td>@race.NumberOfStops</td>
                        <td>@race.Refueling</td>
                        <td>@race.Position</td>
                        <td>@race.AmountOfOpponents</td>
                        <td>
                            @foreach (var tyre in race.SelectedTyres) {
                                <a>@tyre</a>
                                <br />
                            }
                        </td>
                        <td>@race.TrackState</td>
                        <td>@race.TrackWeather</td>
                        <td>@race.Damage</td>
                        <td>@race.TerminalDamage</td>
                    </tr>
                }
            }
            else {
                <tr>
                    <td colspan="5">No race found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
