@model Race
@{
    ViewData["Title"] = "Race";
}


<form asp-action="NewRace" method="post">
    
    <div>
        <label asp-for="Name">Názov</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="NumberOfLaps">Počet kôl</label>
        <input asp-for="NumberOfLaps" />
    </div>
    <div>
        <label asp-for="MandatoryStops">Počet povinných zastávok</label>
        <input asp-for="MandatoryStops" />
    </div>
    <div>
        <label asp-for="Refueling">Tankovanie</label>
        <input asp-for="Refueling" />
    </div>
    <div>
        <label asp-for="Position">Pozícia</label>
        <input asp-for="Position" />
    </div>
    <div>
        <label asp-for="TrackWeather">Počasie</label>
        @Html.DropDownListFor(
                 model => model.TrackWeather,
                 (IEnumerable<SelectListItem>)ViewBag.TrackWeatherList, "-- Zvoliť počasie --",
                 new { @class = "form-control" })
    </div>



    <h4>Tyre Selection</h4>
    <div id="tyresContainer">
        @for (int i = 0; i < Model.SelectedTyres.Count; i++) {
            <div class="form-group row mb-3" data-index="@i">
                <div class="col-10">
                    <label class="form-label">Tyre #@(i + 1)</label>
                    <select asp-for="SelectedTyres[i]"
                    class="form-select tyre-dropdown">
                        <option value="">-- Zvoliť zmes pneumatík --</option>
                        @foreach (var compound in Enum.GetValues(typeof(TyreCompound))) {
                            <option value="@compound"
                            selected="@(Model.SelectedTyres[i] == (TyreCompound)compound)">
                                @compound
                            </option>
                        }
                    </select>
                </div>
                <div class="col-2 align-self-end">
                    @if (i > 0) {
                        <button type="button"
                        class="btn btn-danger remove-tyre"
                        data-index="@i">
                            Remove
                        </button>
                    }
                </div>
            </div>
        }
    </div>

    <div class="mb-3">
        <button type="button" id="addTyre" class="btn btn-secondary">
            Add Another Tyre
        </button>
    </div>

    <div>
        <label asp-for="RaceSeriesId">Šampionát</label>
        @Html.DropDownListFor(
            model => model.RaceSeriesId,
            (IEnumerable<SelectListItem>)ViewBag.RaceSeriesList, "-- Zvoliť šampionát --",
            new { @class = "form-control" })
    </div>


    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Damage" />
    <input type="hidden" asp-for="TerminalDamage" />
    <input type="hidden" asp-for="TrackState" />
    <input type="hidden" asp-for="LapCount" />
    <input type="hidden" asp-for="NumberOfStops" />
    <input type="hidden" asp-for="AmountOfOpponents" />
    
    <button type="submit" class="btn btn-primary">Uložiť</button>
    
</form>

@section Scripts {
    <script>
        $(function() {
            // PRIDAŤ SADU
            $('#addTyre').click(function() {
                const index = $('.tyre-dropdown').length;
                const dropdownHtml = `
                    <div class="form-group row mb-3" data-index="${index}">
                        <div class="col-10">
                            <label class="form-label">Tyre #${index + 1}</label>
                            <select name="SelectedTyres[${index}]"
                                    class="form-select tyre-dropdown">
                                <option value="">-- Zvoliť zmes pneumatík --</option>
        @foreach (var compound in Enum.GetValues(typeof(TyreCompound))) {
                                        <option value="@compound">@compound</option>
        }
                            </select>
                        </div>
                        <div class="col-2 align-self-end">
                            <button type="button"
                                    class="btn btn-danger remove-tyre"
                                    data-index="${index}">Remove</button>
                        </div>
                    </div>`;

                $('#tyresContainer').append(dropdownHtml);
            });

            // ODSTRÁNIŤ SADU
            $(document).on('click', '.remove-tyre', function() {
                const index = $(this).data('index');
                $(`[data-index="${index}"]`).remove();
            });
        });
    </script>
}

