@model RaceStrategyApp.Models.Race
@{
    ViewData["Title"] = "Preteky";
    var raceStarted = ViewData["RaceStarted"] as bool? ?? false;
    var possibleLapCount = ViewData["LapCount++?"] as bool? ?? true;
}


<div>
    <table class="table">
        <thead>

            <th>Id</th>
            <th>Name</th>
            <th>NumberOfLaps</th>
            <th>LapCount</th>
            <th>MandatoryStops</th>
            <th>Refueling</th>
            <th>Position</th>
            <th>AmountOfOpponents</th>
            <th>AvailableTyres</th>
            <th>TrackState</th>
            <th>Damage</th>
            <th>TerminalDamage</th>
            <th>TrackWeather</th>

        </thead>

        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.NumberOfLaps</td>
                <td>@Model.LapCount</td>
                <td>@Model.MandatoryStops</td>
                <td>@Model.Refueling</td>
                <td>@Model.Position</td>
                <td>@Model.AmountOfOpponents</td>
                <td>@Model.AvailableTyres</td>
                <td>@Model.TrackState</td>
                <td>@Model.Damage</td>
                <td>@Model.TerminalDamage</td>
                <td>@Model.TrackWeather</td>
            </tr>

        </tbody>
    </table>
</div>

@if (!raceStarted) {
    <form method="post">
        <button type="submit" name="startRace" value="true">Začať preteky</button>
    </form>
}


@if (raceStarted) {
    <div>
        <a>Preteky začaté</a>
    </div>

    <br>
    <br>

    <form method="post" asp-controller="Race" asp-action="IncrementLapCount">
        <div>
            <input type="hidden" name="id" value="@Model.Id" />
            <label asp-for="LapCount">Aktuálne kolo: </label>
            <a>@Model.LapCount</a>

            @if (possibleLapCount && Model.TrackState != trackState.red) {
                <button type="submit" name="increase">+</button>
            }
            
        </div>
    </form>


    <form method="post" asp-controller="Race" asp-action="SetWeather">
        <div>
            <input type="hidden" name="id" value="@Model.Id" />
            <label asp-for="TrackWeather">Počasie: </label>
            <a>@Model.TrackWeather</a>
            @Html.DropDownListFor(
                      model => model.TrackWeather,
                    (IEnumerable<SelectListItem>)ViewBag.TrackWeatherList)

            <button type="submit" name="SaveWeather">Uložiť</button>
        </div>
    </form>


    <form method="post" asp-controller="Race" asp-action="SetState">
        <div>
            <input type="hidden" name="id" value="@Model.Id" />
            <label asp-for="TrackState">Stav: </label>
            <a>@Model.TrackState</a>
            @Html.DropDownListFor(
                     model => model.TrackState,
                     (IEnumerable<SelectListItem>)ViewBag.TrackStateList,
                     new { @class = "form-control" })

            <button type="submit" name="SetState">Uložiť</button>
        </div>
    </form>
}

